/* Фон всей страницы */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    background: #0b0f19;
    overflow: hidden;
}

/* Дополнительные эффекты фона */
.background {
    position: fixed;
    inset: 0;
    background: radial-gradient(circle at center, #1b2735, #090a0f);
    filter: blur(2px);
    z-index: -1;
}

/* Контейнер лабиринта по центру */
.maze-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* Сам лабиринт-grid, размеры будут задаваться JS */
#maze {
    display: grid;
    gap: 0;
    border: 3px solid #fff;
    box-shadow: 0 0 15px #00aaff;
}

/* Клетка */
.cell {
    width: 32px;
    height: 32px;
    background-size: cover;
    background-position: center;
}

/* Типы блоков */
.cell.wall {
    background-image: url("../textures/wall.png");
}

.cell.path {
    background-image: url("../textures/path.png");
}

.cell.path.start {
    background-image: url("../textures/start.png");
}

.cell.path.end {
    background-image: url("../textures/end.png");
}

.cell.visited {
    background-image: url("../textures/visited.png");
}

.cell.visiting {
    background-image: url("../textures/visiting.png");
}

.controls {
    color: white;
    text-align: center;
    font-size: 20px;
}