* {
    font-family: Arial, Helvetica, sans-serif;
}

#upper-section {
    /* background-color: #555; */
    padding: 20px;
    color: black;
    font-size: bold;
    display: flex;
    justify-content: space-between;
}

#weather-desc-container {
    color: #444;
    display: flex;
    gap: 15px;
}

#main-container {
    margin: 10px auto;
    max-width: 60%;
}

#weather-word {
    font-weight: bold;
    font-size: 18px;
}

#middle-section {
    padding: 10px 0;
    padding-left: 5px;
    display: flex;
    gap: 25px;
}

#middle-section p {
    color: black;
    transition: transform 0.2s ease;
    transform-origin: center center;
    text-align: center;
}

#middle-section p:hover,
#middle-section p.active {
    transform: scale(1.2);
}
